* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
body {
  background: #fff;
  color: #333;
}
/* Shared container */
.container-auth {
  background-color: #7b2342;
  border-radius: 10px;
  width: 90%;
  max-width: 750px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  color: white;
  margin: auto;
}

.left-box-auth {
  background-color: transparent;
  padding: 40px 30px;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ffffff33;
}
.left-box-auth img {
  width: 70px;
  margin-bottom: 20px;
}
.left-box-auth h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #f0dce2;
}
.left-box-auth p {
  font-size: 13px;
  color: #f0dce2;
}

.right-box-auth {
  width: 65%;
  padding: 40px 30px;
}
.right-box-auth h3 {
  margin-bottom: 20px;
  font-weight: 500;
  color: #fff;
}
.form-group { margin-bottom: 15px; }
input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}
button {
  width: 100%;
  padding: 12px;
  background-color: #fff;
  color: #7b2342;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: #f1f1f1;
}
.options-auth {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}
.options-auth a {
  color: #fff;
  text-decoration: underline;
  font-weight: 500;
}
.signup-link-auth, .login-link-auth {
  text-align: center;
  margin-top: 25px;
  font-size: 14px;
}
.signup-link-auth a, .login-link-auth a {
  color: #fff;
  text-decoration: underline;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .container-auth {
    flex-direction: column;
    max-width: 97vw;
  }
  .left-box-auth, .right-box-auth {
    width: 100%;
    border-right: none;
  }
}
.auth-center-wrap {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
